body {
	width: 410px;
	padding: 0;
	background: none;
}
button {
	position: fixed;
	top: 0;
	width: 50px;
	height: 50px;
	border: none;
	margin: 5px;
}
img {
	width: 45px;
	height: 45px;
	margin: 3px;
}
li {
	height: 30px;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 5px;
	/*background-color: silver;*/
	list-style-type: none;
}
.deleteIcon {
	width: 20px;
	height: 20px;
	float: right;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 410px;
	margin: 5px;
	width: 410px;
	height: 55px;
	border-bottom: 2px solid black;
	z-index: 10;
}
#logo {
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	border: none;
}
#message {
	position: absolute;
	top: 15px;
	right: 120px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	display: none;
}
#stamp {
	position: absolute;
	right: 60px;
	width: 45px;
	height: 45px;
	margin-top: 10px;
	background: url(icons/stamp.png) center center no-repeat;
}
#search {
	position: absolute;
	right: 5px;
	width: 45px;
	height: 45px;
	margin-top: 10px;
	background: url(icons/search.png) center center no-repeat;
}
#icons {
	margin-top: 70px;
	background-color: white;
}
#listPage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding: 10px;
	color: black;
	font-size: 15px;
	background-color: white;
	z-index: 20;
	display: none;
}
#listHeader {
	margin-left: 40px;
}
#list {
	margin-top: 50px;
}
#close {
	position: fixed;
	right: 5px;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	z-index: 30;
	background: url(icons/close.png) center center no-repeat;
}
#help {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding: 10px;
	color: black;
	font-size: 15px;
	background-color: white;
	z-index: 20;
	display: none;
}